body {
  margin: 0;
  padding: 0;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  color: #f1f1f1;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

.loading-screen {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.container {
  overflow: hidden;
}

.content {
  z-index: 1;
  position: absolute;
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #000;
  height: 80px;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.footer ul {
  width: 640px;
  margin: 0 auto;
  text-align: center;
  padding-top: 34px;
}

.footer li {
  display: inline-block;
  margin: 0 10px;
}

.footer a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #A2A2A2;
}

h1 {
  font-size: 40px;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

video {
  height: auto;
  z-index: 0;
  width: 100%;
  position: relative;
  -webkit-filter: saturate(0%) blur(10px) brightness(50%);
}

span {
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 30px;
  letter-spacing: 1px;
  display: block;
}

iframe {
  margin-bottom: 30px;
}

.download-link {
  color: inherit;
  font-family: Baskervile;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid;
}