body {
  color: #3b3b3b;
  text-align: center;
  font-family: Verdana, sans-serif;
}

body.mobile .content {
  width: 90%;
  display: inline-block;
  margin: auto;
}

.content {
  width: 420px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform:    translateY(-50%) translateX(-50%);
  -ms-transform:     translateY(-50%) translateX(-50%);
  -o-transform:      translateY(-50%) translateX(-50%);
  transform:         translateY(-50%) translateX(-50%);
}

p {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02rem;
  margin: 40px auto 5px;
}

sup {
  font-size: 60%;
  vertical-align: super;
  position: relative;
  left: 1px;
  letter-spacing: 0.025rem;
}

abbr {
  font-variant: small-caps;
  letter-spacing: 0.025rem;
  position: relative;
  left: 1px;
}

li img {
  width: 100%;
}

a {
	font-size: 12px;
  border: 2px solid;
  padding: 10px 20px;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}