<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
  <head>
    <title>April</title>

    <meta name="description" content="an Ambient/Post-Rock band from San Francisco. Free music and hugs inside.">

    {% if g.is_mobile %}
      <meta name="viewport" content="width=device-width, user-scalable=false;">
    {% endif %}

    <meta property="og:title" content="April" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.listentoapril.com" />
    <meta property="og:image" content="http://jeffmicklos.s3.amazonaws.com/april/web/april.jpg" />

    {% assets filters="cssmin", output="gen/style.css", "css/reset.css", "css/base.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body class="{% if g.is_mobile %}mobile{% endif %}" itemscope itemtype="http://schema.org/MusicGroup">

    <div class="footer">

      {% if not g.is_mobile %}
        <form class="email">
          <input type="email" class="email-value" placeholder="Email Address">
          <input type="submit" class="email-submit" value="Stay Up To Date">
        </form>
      {% endif %}

      <ul>
        <li>
          <a href="https://soundcloud.com/listentoapril" rel="me" title="Listen to April the band on SoundCloud">SoundCloud</a>
        </li>
        <li>
          <a href="http://instagram.com/listentoapril" rel="me" title="April the band on Instagram">Instagram</a>
        </li>
      </ul>
    </div>

    <div class="container container--hblc">

      <div class="loading-screen"></div>

      <div class="content">

        <h1 itemprop="name">April</h1>

        <div itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
          <meta itemprop="duration" content="PT9M48S" />
          <meta itemprop="description" content="This is our first song" />
          <meta itemprop="keywords" content="post-rock, ambient, postrock, instrumental" />
          <meta itemprop="url" content="http://jeffmicklos.s3.amazonaws.com/april/April%20%E2%80%93%20Happy%20Birthday%20Lauren%20Conrad.mp3" />

          <span itemprop="name">Happy Birthday, Lauren Conrad</span>

          <iframe width="640" height="65" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/188888234%3Fsecret_token%3Ds-YHibx&amp;color=595757&amp;auto_play=false&amp;show_artwork=false&amp;show_playcount=false&amp;theme_color=f1f1f1">
          </iframe>

          <a itemprop="audio" href="http://jeffmicklos.s3.amazonaws.com/april/April%20%E2%80%93%20Happy%20Birthday%20Lauren%20Conrad.mp3" class="download-link" title="Free Download of Happy Birthday, Lauren Conrad" data-song="hblc">Download mp3 for free</a>
        </div>
      </div>

    </div>

    <div class="container container--exit-music">

      <div class="loading-screen"></div>

      <div class="content">

        <h1 itemprop="name">April</h1>

        <div itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
          <meta itemprop="duration" content="PT9M48S" />
          <meta itemprop="description" content="This is our first song" />
          <meta itemprop="keywords" content="post-rock, ambient, postrock, instrumental" />
          <meta itemprop="url" content="http://jeffmicklos.s3.amazonaws.com/april/April%20-%20Exit%20Music%20(For%20a%20Job).mp3" />

          <span itemprop="name">Exit Music (For a Job)</span>

          <iframe width="640" height="65" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/140633026&amp;color=1a1a1a&amp;auto_play=false&amp;show_artwork=false&amp;show_playcount=false&amp;theme_color=f1f1f1">
          </iframe>

          <a itemprop="audio" href="http://jeffmicklos.s3.amazonaws.com/april/April%20-%20Exit%20Music%20(For%20a%20Job).mp3" class="download-link" title="Free Download of Exit Music (For a Job)" data-song="Exit Music">Download mp3 for free</a>
        </div>

      </div>
    </div>

      {% block content %}
      {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.1/velocity.min.js"></script>

    {% assets filters="rjsmin", output="gen/javascript.js", "js/scroll_watcher.js", "js/april.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45175550-1', 'listentoapril.com');
      ga('send', 'pageview');

      IS_MOBILE = {{g.is_mobile|tojson|safe}};

      April.init();

    </script>

  </body>
</html>
