<!DOCTYPE html>
<html>
  <head>
    <title>We Can Help</title>

    {% assets filters="cssmin", output="gen/noise.css", "css/reset.css", "css/noise.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <link rel="shortcut icon" href="http://jeffmicklos.com/favicon.ico" />

    {% if g.is_mobile %}
      <meta name="viewport" content="width=device-width, user-scalable=false;">
    {% endif %}
  </head>

  <body class="{% if g.is_mobile %}mobile{% endif %}">

    <div class="content">
      <ul class="headlines">
        <li>
          <img src="http://res.cloudinary.com/listentoapril/image/upload/q_100/v1457421752/april_guttpf.png">
        </li>
        <li class="hidden">
          <img src="http://res.cloudinary.com/listentoapril/image/upload/q_100/v1457421752/chasms_obvkto.png">
        </li>
        <li class="hidden">
          <img src="http://res.cloudinary.com/listentoapril/image/upload/q_100/v1457421752/worker_nhchmy.png">
        </li>
        <li class="hidden">
          <img src="http://res.cloudinary.com/listentoapril/image/upload/q_100/v1457421752/winkie_xvqjj4.png">
        </li>
        <li class="hidden">
          <img src="http://res.cloudinary.com/listentoapril/image/upload/q_100/v1457421752/vowws_cseu2v.png">
        </li>
      </ul>

      <p>
        Saturday, March 12<sup>th</sup>, 8<abbr>pm</abbr><br>
        Brick &amp; Mortar Music Hall, San Francisco<br><br>
      </p>

      <a href="http://brickandmortarmusic.com/event.cfm?id=229920&cart">Ensure Your Presence</a>
    </div>

    
    {% block content %}
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45175550-1', 'listentoapril.com');
      ga('send', 'pageview');

      setInterval(function() {
        var headlines = $('.headlines').find('li');
        var random = Math.floor(Math.random() * headlines.length);
        headlines.addClass('hidden').eq(random).removeClass('hidden');
      }, 750);

      $('a').on('click', function() {
        ga('send', 'event', 'Action', 'Click', 'sf noise button');
      });
    </script>

  </body>
</html>
