<!DOCTYPE html>
<html>
  <head>
    <title>Photos</title>

    {% assets filters="cssmin", output="gen/photo_album.css", "photo_album/css/reset.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <style>

      ul {
        text-align: center;
      }

      li {
        position: relative;
        overflow: hidden;
      }
      img {
        position: absolute;
        /*padding: 10px;*/
      }
    </style>
  </head>
  <body>

    <ul class="container">
    </ul>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    {% assets filters="rjsmin", output="gen/photo_album.js", "photo_album/js/component.js", "photo_album/js/component.js", "photo_album/js/scroll_watcher.js", "photo_album/js/vertical_slides.js", "photo_album/js/flickr.js", "photo_album/js/instagram.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>

      Config = {
        SERVICE: {{g.service|tojson|safe}},
        USERNAME: {{g.username|tojson|safe}},
        SERVICES: {
          FLICKR: 'flickr',
          INSTAGRAM: 'instagram'
        }
      };

       Users = {
        flickr: {
          joe:             '93968037@N00',
          mark:            '66543827@N00',
          jeff:            '48016199@N07',
          brian:           '66864428@N00',
          nowiknowforever: '87759134@N00'
        },
        instagram: {
          joe:    225495799,
          jeff:   386856561,
          mark:   224058164,
          chris:  553938984,
          annie:  31847468,
          brian:  278184265,
          stacey: 12572223
        }
      };


      PhotoViewer = {

        init: function(data) {

          this.w = $(window);
          this.photos = data.photos;
          this.container = $('.container');

          this.buildDOM();

          this.arrangeElements();
          this.w.on('resize', $.proxy(this.arrangeElements, this));

          new VerticalSlides($('ul'), {
            lockScroll: true
          });

        },

        buildDOM: function() {

          var html = '';
          var self = this;

          for(var i = 0; i < this.photos.length; i++) {

            var image = new Image();
            (function(i) {
              image.onload = image.onerror = image.onabort = function() {
                this.onerror = this.onabort = this.onload = null;
                self.fitImage($('ul').find('li').eq(i).find('img').attr('src', self.photos[i].url));
              };
            }(i));

            image.src = this.photos[i].url;

            html += [
              '<li>',
                '<img src="" />',
              '</li>'
            ].join('');
          }

          $('ul').html(html);

        },

        arrangeElements: function() {

          var self = this;

          $('li').css({
            'height': this.w.height(),
            'width': this.w.width()
          });

          $('img').each(function(idx, element) {
            self.fitImage($(element));
          });

        },

        fitImage: function(image) {

          var windowW = this.w.outerWidth();
          var windowH = this.w.outerHeight();

          var imageRatio = image.outerWidth() / image.outerHeight();
          var windowRatio = windowW / windowH;

          if(windowRatio < imageRatio) {
            image.css({
              height: 'auto',
              width: '95%'
            });
          } else {
            image.css({
              height: '95%',
              width: 'auto'
            });
          }

          this.verticalCenter(image);
          this.horizontalCenter(image);

        },

        verticalCenter: function(element) {
          var position = element.css('position') == 'relative' ? 'relative' : null;
          element.css({
            position: position || 'absolute',
            top: '50%',
            marginTop: -(element.height() / 2)
          });
        },

        horizontalCenter: function(element) {
          var position = element.css('position') == 'relative' ? 'relative' : null;
          element.css({
            position:  position || 'absolute',
            left: '50%',
            marginLeft: -(element.width() / 2)
          });
        }

      };

      
      if(Config.SERVICE === Config.SERVICES.FLICKR) {

        client = Flickr.initialize('b542507a8967f32d0d475e746a50b361');
        
        client.publicPhotos(Users[Config.SERVICE][Config.USERNAME], function(feed) {


          var photos = $.map(feed.photos.photo, function(photo, idx) {
            return {
              height: photo.height_o,
              width: photo.width_o,
              url: photo.url_o,
              text: photo.title
              //url: '//farm' + photo.farm + '.staticflickr.com/' + photo.server + '/' + photo.id + '_' + photo.secret + '.jpg'
            };
          });

          PhotoViewer.init({
            photos: photos
          });


        });

      } else if(Config.SERVICE === Config.SERVICES.INSTAGRAM) {

        Instagram.get(Users[Config.SERVICE][Config.USERNAME], function(feed) {

          var photos = $.map(feed.data, function(photo, idx) {
            return {
              height: 640,
              width: 640,
              text: photo.caption.text,
              time: photo.created_time,
              permalink: photo.link,
              url: photo.images.standard_resolution.url
            };
          });

          PhotoViewer.init({
            photos: photos,
            name: feed.data[0].user.full_name,
            username: feed.data[0].user.username
          });

        });

      }


    </script>
     
  </body>
</html>